*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* G E N E R A L */
body{
    font-family: 'Montserrat', sans-serif;
}

.app{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-image: linear-gradient(327deg, rgb(22, 17, 17) 31%, rgb(255, 0, 0) 50%, rgb(22, 17, 17) 69%);
}

/* H E A D E R  */
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    margin-bottom: 30px;
}
.header .logo{
    display: flex;
    justify-content: flex-start;
    flex-basis: 50%;
}
.header .logo img{
    max-width: 170px;
    margin-left: 20px;
}

.header .control{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
}

.control #input{
    margin-right: 20px;
    padding: 10px;
    width: 250px;
    border: 3px solid white;
    border-radius: 10px;
    opacity: 0.6;
    outline: none;
    background: none;
    color: white;
    font-size: 15px;
    transition: transform 0.4s , opacity 0.4s;
}

.control i{
    font-size: 20px;
    opacity: 0.6;
    color: white;
    transition: transform 0.4s , opacity 0.4s; 
}

#search:hover{
    transform: scale(1.5);
    opacity: 1;
}
#input:hover,
#input:focus{
    transform: scale(1.1);
    opacity: 1;
}

/* M A I N  */
.flag{
    max-width: 30px;
}

.main{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.film-list,
.film-debug{
    display: flex;
    align-items: center;
    height: 600px;
    overflow-x: auto;
    overflow-y: unset;
    margin-bottom: 20px;
}

.film-debug{
    
}

.status,
.status2{
    width: 100%;
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}

.status h2,
.status2 h2{
    color: white; 
    font-weight: 300;
}

.movie{
    position: relative;
    height: 500px;
    width: 340px;
    overflow-y: unset;
    object-fit: cover;
    margin-right: 20px;
    margin-left:20px;
    transition: transform 0.9s;
}

.movie:hover{
    transform: scale(1.1);
}

.poster>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* M O V I E  U L */
.movie ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(50% , 50%);
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid red; 
    color: white;
    opacity: 0;
    transition: opacity 0.4s ,  border-radius 1s;
}

.movie ul li:nth-child(even) h3::after{
    content: "";
    border: 1px solid red;
    width: 50%;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50% , 0%);
}

.movie ul li:nth-child(2){
    margin-top: 10px;
}
.movie ul li{
    display: none;
    text-align: center;
   position: relative;
}
.movie ul>li>h3{
    font-size: 18px;
}

.movie .fas{
    color: red;
}
.movie ul .title{
    display: inline-block;
}

.movie .title h2{
    font-size: 30px;
    color: red;
    font-weight: 300;
}

.movie .active{
    opacity: 1;
}

.movie .border{
    border-radius: 10px;
}







