*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.app{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(90deg, rgb(23, 21, 21) 0%, rgb(22, 17, 17) 43%, rgb(245, 31, 0) 100%);
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    margin-bottom: 30px;
}
.header .logo{
    display: flex;
    justify-content: flex-start;
    flex-basis: 50%;
}
.header .logo img{
    max-width: 170px;
    margin-left: 20px;
}

.header .control{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
}

.control #input{
    margin-right: 20px;
    padding: 10px;
    width: 250px;
    border: 3px solid black;
    border-radius: 10px;
    outline: none;
    background: none;
    color: white;
    font-size: 15px;
    transition: transform 0.4s , border 0.4s;
}

.control #search{
    font-size: 20px;
    color: black;
    transition: transform 0.4s , color 0.4s; 
}

#search:hover{
    transform: scale(1.5);
    color: white;
}
#input:hover,
#input:focus{
    transform: scale(1.1);
    border: 3px solid  white;
}


.flag{
    max-width: 30px;
}

.main{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-x: auto;
}

.film-list{
    display: flex;
    height: 80vh;
}

.movie{
    margin-right: 20px;
    margin-left:20px;
    position: relative;
    object-fit: cover;
}

.poster{
    font-size:0px;
    line-height: 0px;
}
.poster img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.movie ul{
    list-style: none;
    position: absolute;
    top: 30%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}

.show{
    display: flex;
}